body{
    background: linear-gradient(to bottom right, #393737 50%, #FFFF 60%);
    height: 100vh;
}

p, li{
    color: #FFFF;
    font-family: 'Source Code Pro', monospace;
}

.menu-bar{
    text-align: center;
}

.menu-bar ul{
    list-style: none;
    text-align: center;
    display: inline-flex;
}

.menu-bar ul li{
    margin: 0 20px;
}

.menu-bar ul li:hover{
    cursor: pointer;
    text-decoration: none;
    transition-delay: 0.3s;

    .underline-text{
        padding-bottom: 10px;
        border-bottom: 3px solid white;
        transition: border-bottom 0.3s;
    }
}